
.projet{
    cursor: pointer;
    border-radius: 10%;
    width: 20%;
    padding-bottom: 20%;
    background-color: aliceblue;
    border: black 2px solid;
    margin: 1.5%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}
.background_cover{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.line_flex{
    display: flex;
    flex-direction: row;
    gap: 2%;
    width: 100%;
}
.column_flex{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#project_main{
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 1500px;
    width: 100%;
    padding: 10px;
    padding-top: 50px;
}
#project_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
}
.centre{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.gras{
    font-weight: bolder;
    font-size: 1vw;
}
.back{
    background-color: rgba(0, 0, 0, 0.733);

}
.big_view{
    width: 90%;
    min-height: 80%;
    border: 2px solid white;
    position:absolute;
    top: 15%;
    background-color: rgba(0, 0, 0, 0.89);

}
.big_view img{
    width: 100%;
    height: auto;
}
.close_button{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 2em;
    cursor: pointer;
}


@media (max-width: 768px) {
    #project_box {
        flex-direction: column;
        align-items: center;
    }
    .project {
        width: 100%;
        border-radius: 0%;
        padding-bottom: 0%;
        -webkit-border-radius: 0%;
        -moz-border-radius: 0%;
        -ms-border-radius: 0%;
        -o-border-radius: 0%;
}
}
